#login {
    box-sizing: border-box;
    border: 1px solid lightGray;
    background-color: #FFCCBC;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#login input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid lightgray;
    outline: none;
}

/*#login h1 {
    
}*/

.loginButtons {
    display: flex;
    margin: 20px 20px 0 20px;
    justify-content: space-between;

}

.loginButtons button {
    background-color: #FF7043;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.loginButtons button[name="register"] {
    background-color: #01579B;
}

.loginErr {
    color: #BF360C;
    height: 20px;
}